@media (max-width: 768px) {
    .intro-container {
        height: 14vh;
    }

    .image-container img {
        width: 15rem;
        height: 11rem;
        border-radius: 10px;
    }

    .typing-text{
        position: absolute;
        top: 70%;
        left: 38%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }
}